#forum{
  float: left;
}

.forum-card{
  /*position: relative;
  right: 10%;*/
  margin-top: 100px;
  width: 90%;
  border-radius: 10px;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  z-index: 0;
  transform: translateX(20px);
}

.forum-title{
  width: 555px;
  margin-left: 20%;
  font-size: 36px;
}

#publish{
  width: 50%;
}

#publish-btn{
  width: 200px;
  height: 55px;
  font-family: bradhitc !important;
  font-size: 16px;
  background-color: rgba(173, 138, 69, 0.72);
  color: rgb(228, 223, 172);
  margin-left: 30%;
}

#publish-btn:hover{
  color: rgba(52, 48, 8, 0.87);
  background-color: rgba(206, 207, 175, 0.66);
}

.edit-article-title{
  width: 5%;
  float: left;
  font-size: 20px;
  margin: 20px 0 0 5%;
}

#edit-article-content{
  width: 80%;
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 7%;
}

#submit-btn{
  margin: 10px auto 10px auto;
  font-family: bradhitc !important;
  font-size: 20px;
  border-radius: 5px;
  color: rgb(217, 198, 216);
  background-color: rgb(15, 13, 34);
}

#submit-btn:hover{
  color: rgb(15, 13, 34);
  background-color: rgba(204, 203, 114, 0.74);
}

.article-card{
  background-image: linear-gradient(0deg, #f5f7fa 50%, #c3cfe8 100%) !important;
  margin-top: 100px;
  width: 90% !important;
  border-radius: 10px;
  transform: translateY(30px);
  z-index: 0;
}
.publish-card{
  top: 100px;
  width: 80% !important;
  border-radius: 10px;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  z-index: 0;
}

.publish-title{
  font-size: 36px;
  margin: auto;
}

.line{
  margin-top: 10px;
  border: 1.5px solid black;
}

.pure-table{
  width: 100%;
}

#article-list a{
  text-decoration: none;
}

#article-list thead{
  background-color: rgba(208, 215, 186, 0.49);
  font-size: 24px;
}

.article{
  margin-top: 50px;
  width: 100%;
}

.author-info{
  width: 160px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: rgba(215, 205, 206, 0.59);
}

.author-info p{
  margin-left: 39px;
}
