body{
  background-image: linear-gradient(0deg, #f6d365 80%, #fda085 100%);
  background-repeat: no-repeat;
  background-size: auto 3800px;
}

.log-card{
  position: relative;
  right: 10%;
  top: 100px;
  width: 45%;
  font-weight: bold;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  border-radius: 20px;
  z-index: -1;
}

.mdl-card__title-text, .mdl-card__supporting-text h4, .msg, #btnSignUp{
  font-family: bradhitc !important;
  font-weight: bold;
}

#btnSignUp{
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

#btnLogIn{
  font-size: 22px;
  font-family: bradhitc !important;
  font-weight: bold;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgba(223, 238, 42, 0.72);
}

.mdl-card__supporting-text a{
  font-weight: bold;
  font-size: 16px;
}

.email{
  float: left;
  margin-right: 5%;
}

.country{
  float: left;
  margin-right: 5%;
}

#sign-info{
  color: red;
  font-size: 20px;
}

.clear:after {
	content:"";
	display: block;
	clear: both;
}
