@media only screen and (max-width: 425px){
  body{
    width: 100%;
  }
  .main-title{
    float: none;
    font-size: 18px;
    width: 100%;
    margin: 10px 0 0 83%;
  }

  .polor-bear{
    width: 20%;
    float: none;
    margin-left: 125%;
  }

  .head-photo{
    width: 424px;
    height: 390px;
  }

  .log-in{
    width: 0px;
  }

  .navigation{
    display: block;
    position: relative;
    right: 305px;
    width: 300px;
    background-color: rgb(222, 222, 210);
  }

  .userInfo-card{
    background-color: none !important;
    width: 55% !important;
    margin-left: 45%;
  }

  #user-name{
    font-size: 14px;
  }

  #logOut, #edit-profile{
    font-size: 8px;
    margin-bottom: 5px;
  }

  .option-pc{
    display: none;
  }

  .option-mobile{
    display: block;
  }

  .option-mobile li, .no-user li{
    border: 0px;
    width: 100%;
  }

  .recent-council p:first-child{
    margin-left: 10%;
    font-size: 20px;
    z-index: 0;
  }

  .recent-council p:nth-child(2){
    margin-left: 10%;
    font-size: 20px;
  }

  .Marquee{
    display: none;
  }

  .progress{
    margin: 30px 0 20px 20px;
  }

  .progress-article{
    position: relative;
    width: 100%;
  }

  .progress-content{
    display: block;
    width: 70%;
    margin: auto;
  }

  .progress-content img{
    border-radius: 20px;
  }

  .progress-content:first-child{
    border-right: none;
    border-bottom: 3px solid;
    border-color: rgba(88, 85, 78, 0.6);
    padding-bottom: 50px;
  }

  .progress-content:nth-child(2){
    margin-top: 50px;
    padding-bottom: 50px;
  }

  .progress-content:nth-child(3){
    border-left: none;
    border-top: 3px solid;
    padding-top: 50px;
    border-color: rgba(150,150,150,0.8);
    margin-bottom: 70px;
  }

  footer{
    padding-bottom: 20px;
    width: 424px;
  }

  .information-list li{
    border: none;
    margin-left: 15%;
    margin-bottom: 30px;
    padding: 0;
    float: none;
  }

  .information-list li:first-child{
    margin-left: 43%;
    padding-top: 0px;
    border: none;
  }

  .information-list li:nth-child(2){
    display: block;
    margin-left: 32%;
  }

  .information p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    float: none;
  }

  /*---------------------------------*/
  .main-card{
    position: relative;
    width: 90% !important;
    top: 50px;
    left: 5%;
  }

  #publish{
    width: 100%;
  }

  #publish-btn{
    width: 60%;
    font-size: 16px;
  }

  #edit-article-content{
    width: 65%;
  }

  .article-card{
    position: relative;
    width: 85% !important;
    top: 50px;
    left: 10%;
  }

  .info-row label{
    font-size: 16px;
  }

  .data-info{
    font-size: 16px;
  }

}
