.post-title{
  margin-top: 30px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.post-title p{
  font-size: 30px;
  text-align: center;
}

.post-title{
  margin-left: auto;
  margin-right: auto;
}

.article-content{
  font-size: 26px;
  letter-spacing: 0.35rem !important;
}

.post-photo-2{
  height: 200px;
  width: 40%;
  background-size: cover;
  background-position: center;
  margin: auto;
  background-image: url("../img/flint_teaser_rm_516164180_900x600.jpg");
  box-shadow: 2px 2px 3px rgb(22, 23, 23);
}

.content-container{
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
