body{
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
}

nav{
  margin: 0;
  padding: 0;
}

.nav-background{
  width: 100%;
  height: 120px;
  background: #5b5a59;
}

.Global-Warning p, ul{
  display: inline-block;
}

.option{
  position: relative;
  right: 1%;
  padding-top: 15px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 280px;
}

.option > li{
  display: inline-block;
}

.log-in{
  position: relative;
  display: inline-block;
  right: 0;
}

.log-in .navigation{
  display: block;
  position: absolute;
  width: 300px;
  top: 30px;
  right: -235px;
}

.navigation{
  z-index: 3;
}

.navigation ul{
  position: relative;
  right: 0;
  top: 0;
}

.navigation li{
  margin: 0;
  margin-top: 5px;
  width: 100px;
}

.head-photo{
  height: 500px;
  width: 100%;
  background-size: cover;
  background-image: url("../img/broken_ice_land.jpg");
}

.gradients{
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  height: 280px;
  background: linear-gradient(rgba(255,255,100,0.4),rgba(255,255,220,0.1));
}

p{
  margin-left: 50px;
  margin-top: 20px;
  padding: 0;
  font-size: 50px;
}

.recent-council p:first-child {
  font-size: 16px;
  text-align: center;
  opacity: 0.6;
}

.recent-council p:nth-child(2){
  font-size: 24px;
  text-align: center;
}

.Marquee{
  width: 60%;
  margin: auto;

}

.bxslider img, .text-content{
  display: inline-block !important;
}

.bxslider img{
  vertical-align: top;
  width: 49%;
}

.bx-viewport{
  border-right: 2px solid #000;
  border-radius: 10px;
}

.text-content{
  height: 295px;
  vertical-align: top;
  padding-right: 70px;
  box-sizing: border-box;
  width: 50%;
  background-color: rgba(220,220,220,0.8);
}

.text-content p:first-child{
  font-size: 26px;
}

.text-content p:nth-child(2){
  margin-top: 20px;
  font-size: 20px;
  opacity: 0.8;
}

.progress{
  text-align: center;
  font-size: 20px;
}

.progress-article{
  position: relative;
  display: table;
  text-align: center;
  width: 80%;
  margin: auto;
}

.progress-content{
  display: table-cell;
  position: relative;
  vertical-align: top;
  width: 30%;
}

.progress-content:first-child{
  border-right: 2px solid;
  padding-right: 12px;
  border-color: rgba(150,150,150,0.8);
}

.progress-content:nth-child(2){
  padding-left: 10px;
  padding-right: 10px;
}

.progress-content:nth-child(3){
  border-left: 2px solid;
  padding-left: 12px;
  border-color: rgba(150,150,150,0.8);
}

.progress-content img{
  width: 100%;
}

.progress-content p:nth-child(2){
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 24px;
  opacity: 0.8;
}

.progress-content > p:nth-child(3) a{
  text-decoration: none;
  font-size: 24px;
  opacity: 0.8;
}

.progress-content > p:nth-child(3){
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.progress-content > p:nth-child(3) a:hover{
  color: rgba(20,20,255,1);
}

.progress-content p:nth-child(4){
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 24px;
  opacity: 0.6;
}

footer{
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 45px;
  background-color: #5b5a59;
}

.information{
  display: block;
  width: 80%;
  margin: auto;
}

.information-list li{
  vertical-align: top;
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
}

.information-list li a{
  margin: 0;
  padding: 0;
}

.information-list li a img{
  margin: 0;
  padding: 0;
}

.information-list li:first-child{
  padding-right: 0;
  padding-top: 5px;
  border-radius: 0;
  border-right: 5px solid #666;
}

.information-list li:first-child a{
  text-decoration: none;
  margin-right: 10px;
}

.information-list li:nth-child(2){
  padding-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.information-list li a img{
  margin-left: 10px;
}

.information p{
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: right;
  float: right;
}

li{
  margin-left:  15px;
  border: 2px solid;
  border-radius: 10px;
}

li a{
  padding: 2px 20px 2px 20px;
}
